<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/layout.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        <%- title%>
    </title>
</head>

<body>

    <!-- >>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <header class="s-header">
        <nav>
            <ul class="s-nav-link-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
            </ul>


            <ul class="s-nav-link-right">
                <li><a href="#">Track Your Order</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Terms of use</a></li>
                <li>
                    <select name="#" id="#">
                        <option value="uz"><a href="/?clang=uz">Uz</a></option>
                        <option value="eng"><a href="/?clang=eng">Eng</a></option>
                    </select>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="s-navbar">
        <ul class="s-in-navbar">
            <li>
                <a href="#">
                    <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/themes/puca/images/supermaket/logo.png"
                        alt="megabuy">
                </a>
            </li>
            <li class="s-search-category">
                <select name="#" id="#">
                    <option value="#">Select a category</option>
                    <option value="#">lorem ipsum</option>
                    <option value="#">lorem ipsum</option>
                    <option value="#">lorem ipsum</option>
                    <option value="#">lorem ipsum</option>
                    <option value="#">lorem ipsum</option>
                </select>
                <form action="#">
                    <input type="search" name="search" placeholder="What are you searching for?...">
                    <button type="submit">Search</button>
                </form>

            </li>

            <li class="s-navbar-cards">
                <div class="s-my-cart">
                    <div class="s-bag-icon">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M443.188,442.208L415.956,142.56c-0.768-8.256-7.68-14.56-15.968-14.56h-48V96c0-25.728-9.952-49.888-28.032-67.968    C305.876,9.952,281.716,0,255.988,0c-52.928,0-96,43.072-96,96v32h-48c-8.288,0-15.2,6.304-15.936,14.56L68.82,442.208    c-1.632,17.856,4.384,35.712,16.48,48.96S114.612,512,132.564,512h246.88c17.952,0,35.168-7.584,47.264-20.832    S444.788,460.064,443.188,442.208z M191.988,96c0-35.296,28.704-64,64-64c17.184,0,33.28,6.624,45.344,18.656    c12.064,12.032,18.656,28.16,18.656,45.344v32h-128V96z M403.06,469.6c-6.144,6.688-14.528,10.4-23.648,10.4H132.564    c-9.088,0-17.504-3.712-23.616-10.432c-6.144-6.72-9.056-15.392-8.224-24.48L126.612,160h33.376v48c0,8.832,7.168,16,16,16    c8.832,0,16-7.168,16-16v-48h128v48c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16v-48h33.376l25.92,285.12    C412.116,454.176,409.204,462.88,403.06,469.6z" />
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="s-text-my-cart">
                        <p>My Cart</p>
                        <h6>$0.00</h6>
                    </div>
                </div>
            </li>

            <li class="s-navbar-cards">
                <div class="s-signUp-cart">
                    <div class="s-bag-icon">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M256,288.389c-153.837,0-238.56,72.776-238.56,204.925c0,10.321,8.365,18.686,18.686,18.686h439.747    c10.321,0,18.686-8.365,18.686-18.686C494.56,361.172,409.837,288.389,256,288.389z M55.492,474.628    c7.35-98.806,74.713-148.866,200.508-148.866s193.159,50.06,200.515,148.866H55.492z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M256,0c-70.665,0-123.951,54.358-123.951,126.437c0,74.19,55.604,134.54,123.951,134.54s123.951-60.35,123.951-134.534    C379.951,54.358,326.665,0,256,0z M256,223.611c-47.743,0-86.579-43.589-86.579-97.168c0-51.611,36.413-89.071,86.579-89.071    c49.363,0,86.579,38.288,86.579,89.071C342.579,180.022,303.743,223.611,256,223.611z" />
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="s-text-signUp-cart">
                        <p>Hello</p>
                        <h6 class="s-account-me"> Sign me up</h6>
                    </div>
                </div>
            </li>

        </ul>

    </nav>


    <main>
        <%-body%>
    </main>

    <footer>
        <div class="new_footer_top">

            <div class="col-lg-3 ">
                <div class="f_widget company_widget ">
                    <h3 class="f-title f_600 t_color f_size_18">Newsleter Subscribe</h3>
                    <p>Sign up to our newsletter & always be the first to be informed.</p>
                    <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                        <input type="email" name="EMAIL" class="form-control memail" placeholder=" Enter your E-mail">
                        <button class="btn " type="submit">SIGN UP</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="f_widget about-widget pl_70 ">
                    <h3 class="f-title f_600 t_color f_size_18">My Account</h3>
                    <ul class="list-unstyled f_list">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Blog & News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="f_widget about-widget pl_70 ">
                    <h3 class="f-title f_600 t_color f_size_18">Information</h3>
                    <ul class="list-unstyled f_list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Manufactures</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="f_widget about-widget pl_70 ">
                    <h3 class="f-title f_600 t_color f_size_18">Top Categories</h3>
                    <ul class="list-unstyled f_list">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div>
                    <h3 class="f-title f_600 t_color f_size_18">Contact info</h3>
                    <p>(+99) 123 – 456 -789 71 </p>
                    <p>contact@example.com</p>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="f_widget social-widget pl_70 ">
                    <h3 class="f-title f_600 t_color f_size_18">Connect with Megabuy</h3>
                    <div class="f_social_icon">
                        <a href="#"><i class="fa fa-facebook"></i> </a>
                        <a href="#"><i class="fa fa-twitter"></i> </a>
                        <a href="#"><i class="fa fa-youtube"></i> </a>
                        <a href="#"><i class="fa fa-instagram"></i> </a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>