
/* Slider box */

.sh_slider_box{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.sh_left_box{
    overflow: hidden;
    flex: 3;
}

.sh_right_box{
    flex: 1;
}

/* Right box */

.sh_flash_sale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    height: 70vh;
    padding: 20px;
    margin-left: 20px;
}

.sh_flash_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sh_flash_text i{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.sh_right_box hr{
    margin: 0;
    border: none;
    width: 100%;
    height: 3px;
    background-color: crimson;
}

/* Left box */

.sh_slider{
    width: 100%;
}

#sh_container{
    position: relative;
    width: 100%;
    height: 70vh  ;
    margin-bottom: 50px;
}
#sh_container a{
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 50%;
    margin: 0 70px;
    font-size: 40px;
    transition: .5s;
    padding: 10px;
    text-shadow: 20px 0 10px transparent;
}
   
#sh_right{
    text-shadow: -20px 0 10px transparent;
    right: 0;
}
   
#sh_right:hover{
    text-shadow: -20px 0 10px white;
    transform: translateZ(100px) translateY(-7px) scale(1.3);
}

#sh_left:hover{
    text-shadow: 20px 0 10px white;
    transform: translateZ(100px) translateY(-7px) scale(1.3);
}
   
.sh_slide{
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-position: center;
    transition: .6s;
    background-position: center;
}

.sh_slide img{
    width: 100%;
    height: 100%;
}

.sh_dot{
    width: 20px;
    height: 20px;
    top: 90%;
    left: calc(50% - 75px);
    border-radius: 50%;
    margin: 5px;
    position: relative;
    display: inline-block;
    background: #999;
    transform: translateZ(100px);
    transition: .5s;
}
   
.active, .sh_dot:hover{
    background: #fff;
}