
/* Slider box */

.sh_slider_box{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.sh_left_box{
    overflow: hidden;
    flex: 3;
}

.sh_right_box{
    flex: 1;
}

/* Right box */

.sh_flash_sale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    height: 70vh;
    padding: 20px;
    margin-left: 20px;
}

.sh_flash_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sh_flash_text i{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.sh_right_box hr{
    margin: 0;
    border: none;
    width: 100%;
    height: 3px;
    background-color: crimson;
}

/* Left box */

.sh_slider{
    width: 100%;
}

#sh_container{
    position: relative;
    width: 100%;
    height: 70vh  ;
    margin-bottom: 50px;
}
#sh_container a{
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 50%;
    margin: 0 70px;
    font-size: 40px;
    transition: .5s;
    padding: 10px;
    text-shadow: 20px 0 10px transparent;
}
   
#sh_right{
    text-shadow: -20px 0 10px transparent;
    right: 0;
}
   
#sh_right:hover{
    text-shadow: -20px 0 10px white;
    transform: translateZ(100px) translateY(-7px) scale(1.3);
}

#sh_left:hover{
    text-shadow: 20px 0 10px white;
    transform: translateZ(100px) translateY(-7px) scale(1.3);
}
   
.sh_slide{
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-position: center;
    transition: .6s;
    background-position: center;
}

.sh_slide img{
    width: 100%;
    height: 100%;
}

.sh_dot{
    width: 20px;
    height: 20px;
    top: 90%;
    left: calc(50% - 75px);
    border-radius: 50%;
    margin: 5px;
    position: relative;
    display: inline-block;
    background: #999;
    transform: translateZ(100px);
    transition: .5s;
}
   
.active, .sh_dot:hover{
    background: #fff;
}

/* Slider Recommended */
.s-slider {
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  
  .s-slides {
    width: 500%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .s-slides input {
    display: none;
  }
  
  .s-slides .slide {
    width: 20%;
    -webkit-transition: 2s;
    transition: 2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 23px 0;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .s-product-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 276px;
    height: 155px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .s-product-card:hover {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 39px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 39px 0px;
  }
  
  .s-product-img {
    display: -webkit-box;
    display: -ms-flexbox;
    border: none;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 8rem;
            flex: 1 1 8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: hover 0.5s ease-in-out;
    transition: hover 0.5s ease-in-out;
  }
  
  .s-product-img div {
    width: 108px;
    height: 139px;
  }
  
  .s-product-img div img {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .s-product-img .img-hover {
    display: none;
  }
  
  .s-product-img:hover .img-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .s-product-img:hover .img-activ {
    display: none;
  }
  
  .s-product-text {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 10rem;
            flex: 2 1 10rem;
            border: none;
  }
  
  .s-product-text p {
    font-weight: 600;
    font-size: 13px;
  }
  
  .s-product-text .s-star {
    margin-bottom: 8px;
  }
  
  .s-product-text .s-star i {
    font-size: 12px;
    color: #f7d16b;
  }
  
  .s-product-text strong {
    display: block;
    font-weight: 700;
    font-size: 13px;
  }
  
  .s-nagation-manual {
    position: absolute;
    left: 50%;
    top: 86%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 1;
  }
  
  .s-manual-btn {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .s-click {
    background-color: red;
    width: 44px;
    height: 13px;
    border-radius: 10px;
  }
  
  .s-manual-btn:not(:last-child) {
    margin-right: 15px;
  }
  
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  