<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/homePage.css">
    <script src="https://kit.fontawesome.com/87e1470adc.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="sh_slider_box">

        <div class="sh_left_box">
            <div class="sh_slider">
                <div id="sh_container">
                    <div class="sh_slide">
                      <img src="./images/1.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/2.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/3.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/4.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/5.png" alt="">
                    </div>
                
                    <a href="#" id="sh_left">&#10094;</a>
                    <a href="#" id="sh_right">&#10095;</a>
                
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                  </div>
                
            </div>
        </div>


        <div class="sh_right_box">
          <div class="sh_flash_sale">
            <div class="sh_flash_text">
              <h2>Flash Sale</h2>
              <div class="sh_left_right">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="sh_flash_content"></div>
          </div>
          
          
        </div>
    </div>

    <script src="./js/home.js" defer></script>
</body>
</html>