<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/homePage.css">
    <script src="https://kit.fontawesome.com/87e1470adc.js" crossorigin="anonymous"></script>
    
</head>
<body>

  <div class="sh_slider_box">


    <div class="sh_left_box">
      <div class="sh_slider">
        <div id="sh_container">
          <div class="sh_slide">
            <img src="./images/1.png" alt="">
          </div>
          <div class="sh_slide">
            <img src="./images/2.png" alt="">
          </div>
          <div class="sh_slide">
            <img src="./images/3.png" alt="">
          </div>
          <div class="sh_slide">
            <img src="./images/4.png" alt="">
          </div>
          <div class="sh_slide">
            <img src="./images/5.png" alt="">
          </div>
        
          <a href="#" id="sh_left">&#10094;</a>
          <a href="#" id="sh_right">&#10095;</a>
        
          <div class="sh_dot"></div>
          <div class="sh_dot"></div>
          <div class="sh_dot"></div>
          <div class="sh_dot"></div>
          <div class="sh_dot"></div>
        </div>
          
      </div>
  
      <div class="sh_top_brand">
        <div class="sh_flash_text">
          <h4>Top Brand</h4>
          <div class="sh_left_right">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="sh_icons">
          <div class="sh_icons_one">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-11.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-9.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-7.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-5.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-13.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-11.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-9.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-7.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-5.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-3.jpg" alt="">
          </div>
          <div class="sh_icons_two">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-10.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-8.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-6.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-14.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-12.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-10.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-8.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-6.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-4.jpg" alt="">
            <img src="https://elementor3-10aba.kxcdn.com/puca_dokan/wp-content/uploads/2018/01/brand-2.jpg" alt="">
          </div>
        </div>
      </div>
  
      <div class="sh_sony">
        <img src="./images/banner_home1_01.png" alt="">
        <img src="./images/banner_home1_02.png" alt="">
      </div>
    </div>
  
  
    <div class="sh_right_box">
  
      <div class="sh_flash_sale">
  
        <div class="sh_flash_text">
          <h4>Flash Sale</h4>
          <div class="sh_left_right">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
  
        <div class="sh_flash_content">
          <img src="./images/shoes1.png" alt="">
          <div class="sh_icon_box">
            <div class="sh_icon_boxes sh_heart">
              <i class="far fa-heart"></i>
            </div>
            <div class="sh_icon_boxes sh_eyes">
              <i class="far fa-eye"></i>
            </div>
            <div class="sh_icon_boxes sh_shuffle">
              <i class="fas fa-random"></i>
            </div>
          </div>
        </div>
  
        <div class="sh_product_stats">
  
          <p class="sh_archibald">Archibald Watch Mesh</p>
          <p>Sold by: Gia Marquez</p>
          <div class="sh_stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="sh_price">
  
          </div>
          <div class="sh_sold">
            <div class="sh_available">
              <p>Sold: 67</p>
              <p>Available: 254</hp>
            </div>
            <div class="sh_gradient"></div>
          </div>
        </div>
  
      </div>
  
      <img class="sh_banner" src="./images/banner_home1_03.png" alt="">
      
    </div>
  
  </div>
  
  
  
  <!-- Slider Shahzod -->

     <!-- Recommended Samandar --> 

    
     <h2>Recommended</h2>
     <div class="s-slider">
         <div class="s-slides">
             <input type="radio" name="radio-btn" id="radio1">
             <input type="radio" name="radio-btn" id="radio2">
             <input type="radio" name="radio-btn" id="radio3">

             <div class="slide first ">
                  <div class="s-product-card">
                      <div class="s-product-img">
                          <div>
                              <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                          </div>
                      </div>
                      <div class="s-product-text">
                          <p>Oxygen Shirt Hype Stripe</p>
                             <div class="s-star">
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                             </div>
                           <strong class="s-product-price">$175.00</strong>
                      </div>
                  </div>
                  <div class="s-product-card">
                   <div class="s-product-img">
                       <div>
                           <img class="img-activ" src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-76-375x450.jpg" alt="">
                           <img class="img-hover" src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-75-375x450.jpg" alt="">
                       </div>
                   </div>
                   <div class="s-product-text">
                       <p>Oxygen Shirt Hype Stripe</p>
                          <div class="s-star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                        <strong class="s-product-price">$175.00</strong>
                   </div>
               </div>
               <div class="s-product-card">
                 <div class="s-product-img">
                     <div>
                         <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                     </div>
                 </div>
                 <div class="s-product-text">
                     <p>Oxygen Shirt Hype Stripe</p>
                        <div class="s-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                      <strong class="s-product-price">$175.00</strong>
                 </div>
             </div>
             <div class="s-product-card">
               <div class="s-product-img">
                   <div>
                       <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                   </div>
               </div>
               <div class="s-product-text">
                   <p>Oxygen Shirt Hype Stripe</p>
                      <div class="s-star">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                    <strong class="s-product-price">$175.00</strong>
               </div>
           </div>
              </div>

             <div class="slide">
                 <div class="s-product-card">
                     <div class="s-product-img">
                         <div>
                             <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                         </div>
                     </div>
                     <div class="s-product-text">
                         <p>Oxygen Shirt Hype Stripe</p>
                            <div class="s-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                          <strong class="s-product-price">$175.00</strong>
                     </div>
                 </div>
             </div>

             <div class="slide">
                 <div class="s-product-card">
                     <div class="s-product-img">
                         <div>
                             <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                         </div>
                     </div>
                     <div class="s-product-text">
                         <p>Oxygen Shirt Hype Stripe</p>
                            <div class="s-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                          <strong class="s-product-price">$175.00</strong>
                     </div>
                 </div>
              </div>

         </div>

         <div class="s-nagation-manual">
             <label for="radio1" id="btn1" class="s-manual-btn s-click"></label>
             <label for="radio2" id="btn2" class="s-manual-btn"></label>
             <label for="radio3" id="btn3" class="s-manual-btn"></label>
         </div>

     </div>


 <!-- Recommended Samandar -->

    <script src="./js/home.js" defer></script>
</body>
</html>