<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/homePage.css">
    <script src="https://kit.fontawesome.com/87e1470adc.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="sh_slider_box">

        <div class="sh_left_box">
            <div class="sh_slider">
                <div id="sh_container">
                    <div class="sh_slide">
                      <img src="./images/1.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/2.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/3.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/4.png" alt="">
                    </div>
                    <div class="sh_slide">
                      <img src="./images/5.png" alt="">
                    </div>
                
                    <a href="#" id="sh_left">&#10094;</a>
                    <a href="#" id="sh_right">&#10095;</a>
                
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                    <div class="sh_dot"></div>
                  </div>
                
            </div>
        </div>


        <div class="sh_right_box">
          <div class="sh_flash_sale">
            <div class="sh_flash_text">
              <h2>Flash Sale</h2>
              <div class="sh_left_right">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="sh_flash_content"></div>
          </div>
          
          
        </div>
    </div>

     <!-- Recommended Samandar --> 

    
     <h2>Recommended</h2>
     <div class="s-slider">
         <div class="s-slides">
             <input type="radio" name="radio-btn" id="radio1">
             <input type="radio" name="radio-btn" id="radio2">
             <input type="radio" name="radio-btn" id="radio3">

             <div class="slide first ">
                  <div class="s-product-card">
                      <div class="s-product-img">
                          <div>
                              <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                          </div>
                      </div>
                      <div class="s-product-text">
                          <p>Oxygen Shirt Hype Stripe</p>
                             <div class="s-star">
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                                 <i class="fas fa-star"></i>
                             </div>
                           <strong class="s-product-price">$175.00</strong>
                      </div>
                  </div>
                  <div class="s-product-card">
                   <div class="s-product-img">
                       <div>
                           <img class="img-activ" src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-76-375x450.jpg" alt="">
                           <img class="img-hover" src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-75-375x450.jpg" alt="">
                       </div>
                   </div>
                   <div class="s-product-text">
                       <p>Oxygen Shirt Hype Stripe</p>
                          <div class="s-star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                        <strong class="s-product-price">$175.00</strong>
                   </div>
               </div>
               <div class="s-product-card">
                 <div class="s-product-img">
                     <div>
                         <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                     </div>
                 </div>
                 <div class="s-product-text">
                     <p>Oxygen Shirt Hype Stripe</p>
                        <div class="s-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                      <strong class="s-product-price">$175.00</strong>
                 </div>
             </div>
             <div class="s-product-card">
               <div class="s-product-img">
                   <div>
                       <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                   </div>
               </div>
               <div class="s-product-text">
                   <p>Oxygen Shirt Hype Stripe</p>
                      <div class="s-star">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                    <strong class="s-product-price">$175.00</strong>
               </div>
           </div>
              </div>

             <div class="slide">
                 <div class="s-product-card">
                     <div class="s-product-img">
                         <div>
                             <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                         </div>
                     </div>
                     <div class="s-product-text">
                         <p>Oxygen Shirt Hype Stripe</p>
                            <div class="s-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                          <strong class="s-product-price">$175.00</strong>
                     </div>
                 </div>
             </div>

             <div class="slide">
                 <div class="s-product-card">
                     <div class="s-product-img">
                         <div>
                             <img src="https://elementor3.thembay.com/puca_dokan/wp-content/uploads/2017/09/product-35-375x450.jpg" alt="">
                         </div>
                     </div>
                     <div class="s-product-text">
                         <p>Oxygen Shirt Hype Stripe</p>
                            <div class="s-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                          <strong class="s-product-price">$175.00</strong>
                     </div>
                 </div>
              </div>

         </div>

         <div class="s-nagation-manual">
             <label for="radio1" id="btn1" class="s-manual-btn s-click"></label>
             <label for="radio2" id="btn2" class="s-manual-btn"></label>
             <label for="radio3" id="btn3" class="s-manual-btn"></label>
         </div>

     </div>


 <!-- Recommended Samandar -->

    <script src="./js/home.js" defer></script>
</body>
</html>